doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="css/style.css")
        link(rel="stylesheet", href="css/normalize.css")
        script(src="js/main.js") 
        title OJJO
    body 
        .container
            .block1 
                header 
                    .h-b1    
                        h4.hed Контрагентам
                        h4.hed Дизайнерам
                        h4.hed Вакансии
                    img.logo(src="img/logo.png")
                    .h-b2
                        .h-b2-1
                            img.hed1(src="img/hed1.png")
                            h4.hed Поиск
                        h4.hed Вход/Регистрация
                        .h-b2-1
                            img.hed1(src="img/hed2.png")
                            img.hed1(src="img/hed3.png")
                
                #menuToggle 
                    input(type="checkbox")
                    span 
                    span 
                    span 
                    ul#menu 
                        li 
                            a(href="#") Контрагентам
                            .li
                        li 
                            a(href="#")  Дизайнерам
                            .li
                        li 
                            a(href="#")  Вакансии
                            .li
                        li 
                            a(href="#") Вход / Регистрация                         
                        img.menu(src="img/hed2.png")                          
                        img.menu(src="img/hed3.png")
                        .soc.soc2
                            a(href="#") 
                                img.im-soc.im-soc1.im-men(src="img/utube1.png")
                            a(href="#")    
                                img.im-soc.im-soc2.im-men(src="img/vc1.png")
                            a(href="#") 
                                img.im-soc.im-soc3.im-men(src="img/fb1.png")
                            a(href="#")    
                                img.im-soc.im-soc4.im-men(src="img/tg1.png")
                            a(href="#")    
                                img.im-soc.im-soc5.im-men(src="img/e1.png")
                h1.b1-h1 Долго, дорого, богато!
                button.button1 
                    p.but1 каталог изделий 
                .b1-000
                .block1-brend 
                    .br.br1
                        img(src="img/brend.png")
                        .line
                    .br.br2
                        img(src="img/brend.png")
                        .line
                    .br.br3
                        img(src="img/brend.png")
                        .line
                    .br.br4
                        img(src="img/brend.png")
                        .line
                    .br
                        img(src="img/brend.png")

            .block2 
                p.b2-p К мероприятиям
                h2.b2-h Настоящая красота здесь!
                .block2-but
                    button.b2-but-1 
                        p.b2-b-p1 Свадьба
                    button.b2-but 
                        p.b2-b-p Жене
                    button.b2-but 
                        p.b2-b-p Мужу
                    button.b2-but 
                        p.b2-b-p Партнеру
                    button.b2-but 
                        p.b2-b-p Колекции
                    button.b2-but 
                        p.b2-b-p Редкость
                .block2-foto
                    .foto.foto1
                        p.b2-f-p кольца
                    .foto.foto2
                        p.b2-f-p серьги
                    .foto.foto3
                        p.b2-f-p подвески
                    .foto.foto4 
                        p.b2-f-p запонки
                    .foto.foto5
                        p.b2-f-p браслеты
                    .foto.foto6
                        p.b2-f-p часы

            .block3 
                h4.b3-h4 Не знаете, что выбрать?
                h2.b3-h2 Посетите наши салоны в Киеве
                p.b3-p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut duis tortor vitae pellentesque egestas quam pulvinar. Pellentesque porttitor velit sit pellentesque. Suspendisse donec pretium id dignissim. Dignissim ultrices eget orci viverra. Egestas quis et ut ultrices imperdiet lectus nulla tempus. Pharetra lorem sem purus nisi libero viverra ipsum.
                button.b3-but   
                    p.b3-b-p наши салоны

            .block4 
                h4.b4-h4 Полезные статьи
                h2.b4-h2 Лучшие советы по подбору дорогих подарков
                .block4-foto 
                    .fo.fo1 
                        p.b4-f-p Как выбрать часы для своей будущей жены
                    .fo.fo2 
                        p.b4-f-p Запонки для мужа: 7 ключевых правил покупки аксессуара
                    .fo.fo3 
                        p.b4-f-p Как выбрать обручальные кольца молодоженам
                button.b4-but 
                    p.b4-b-p читать наш блог
                p.b4-p #ojjo_jewerly
                h2.b4-h2-2 Мы в социальных сетях
                .block4-foto-1
                    img.fon111(src="img/fon1.png")
                    img.fon222(src="img/fon2.png")
                    img.fon222(src="img/fon3.png")
                .block4-foto-2
                    img.fon222(src="img/fon4.png")
                    img.fon222(src="img/fon5.png")
                    img.fon111(src="img/fon6.png")

            .block5
                h4.b5-h4 Полезные советы и персональные предложения
                h2.b5-h2 Эксклюзивная рассылка
                .block5-1
                    .b5-2 
                        .b5-2-1
                            img.b5-im(src="img/play.png")
                            p.b5-p-1 Личный менеджер
                        .b5-2-1
                            img.b5-im(src="img/play.png")
                            p.b5-p Доставка и оформление
                        .b5-2-1
                            img.b5-im(src="img/play.png")
                            p.b5-p Индивидуальный дизайн
                    .b5-3 
                        .b5-3-1
                            <input class="inp" placeholder="Ваш e-mail"> 
                            button.b5-but 
                                p.b5-b-p отправить

            footer
                .block6
                    .b6-1 
                        h3.b6-h3 Полезные ссылки
                        .line-foot
                        a(href="#") 
                            p.foot Доставка
                        a(href="#") 
                            p.foot Оплата 
                        a(href="#") 
                            p.foot Акции
                        a(href="#") 
                            p.foot Политика конфиденциальности
                    .b6-1.b6-pay 
                        h3.b6-h3 Оплата
                        .line-foot
                        p.foot1 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ullamcorper justo, nec, pellentesque.
                        .cart   
                            img.im-f(src="img/visa.png")
                            img.im-f1(src="img/mc.png")
                    .b6-1.b-contact 
                        h3.b6-h3 Контакты
                        .line-foot
                        .cont 
                            a(href="tel:+0800000000") 
                                img.im-c(src="img/tel.png")
                            a.tel(href="tel:+380666330913") 3 (050) 555-00-55
                        .cont 
                            a(href="tel:+0800000000") 
                                img.im-c(src="img/tel.png")
                            a.tel(href="tel:+380666330913") 3 (070) 555-00-55
                        .cont 
                            a(href="mailto:Y.o.u.r.o.c.k.Pal@gmail.com")
                                img.im-c(src="img/mail.png")
                            a.tel1(href="mailto:Y.o.u.r.o.c.k.Pal@gmail.com") ojjo@ojjo.ua
                    .b6-1.b6-2
                        h3.b6-h3 Социальные сети
                        .line-foot
                        p.foot1 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ullamcorper justo, nec, pellentesque.
                        .soc
                            a(href="#") 
                                img.im-soc.im-soc1(src="img/utube.png")
                            a(href="#")    
                                img.im-soc.im-soc2(src="img/vc.png")
                            a(href="#") 
                                img.im-soc.im-soc3(src="img/fb.png")
                            a(href="#")    
                                img.im-soc.im-soc4(src="img/tg.png")
                            a(href="#")    
                                img.im-soc.im-soc5(src="img/e.png")
                .line-footer                
                .podval
                    .cont1 
                        a(href="tel:+0800000000") 
                            img.im-c1(src="img/tel.png")
                        a.tel1(href="tel:+380666330913") 3 (050) 555-00-55
                    h4.h4-foot © 2021 O.J.J.O
                    .soc1
                    
                        a(href="#") 
                            img.im1-soc.im1-soc1(src="img/utube.png")
                        a(href="#")    
                            img.1im-soc.im1-soc2(src="img/vc.png")
                        a(href="#") 
                            img.1im-soc.im1-soc3(src="img/fb.png")
                        a(href="#")    
                            img.1im-soc.im1-soc4(src="img/tg.png")
                        a(href="#")    
                            img.1im-soc.im1-soc5(src="img/e.png")